body{
    background-image: linear-gradient(to right,rgb(171, 171, 244) 40%,rgb(100, 100, 235) 100%);
}
.main-grid {
    display: grid;
    grid-template-areas: 
        "Logo-grid Icontext-grid Icontext-grid"
        "Line-grid Line-grid Line-grid"
        "Search-grid Search-grid Search-grid"
        "Icon-grid Icon-grid Icon-grid"
        "line2-grid line2-grid line2-grid"
        "Anbefalinger Anbefalinger Anbefalinger";
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 10px;
}
.Logo-grid {
    grid-area: Logo-grid;
    background-color: rgb(152, 152, 254);
    height: 70px;
    text-align: center;
    margin-top: 5%;
    border-radius: 30px;
    border-style: dashed;
    border-color: aliceblue;
}

.Icontext-grid {
    grid-area: Icontext-grid;
    display: grid;
    grid-template-columns: repeat(4, 150px);
    grid-gap: 10px;
    margin-top: 2.5%;
    text-align: center;
    justify-content: center;
}

.Icontext-grid .topicon {
    background-color: rgb(152, 152, 254);
    height: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 30px; 
    border-style: double;
    border-color: aliceblue;

}

.Line-grid {
    grid-area: Line-grid;
    background-color: rgb(152, 152, 254);
    height: 5px; 
    border-radius: 30px; 
    border-style: double;
    border-color: aliceblue;
}

.Search-grid {
    grid-area: Search-grid;
    display: grid;
    grid-template-columns: 2fr 10px 2fr 200px 1fr;
    grid-gap: 10px;
    margin-top: 20px;
    text-align: center;
}

.Searchtab-grid {
    background-color: rgb(152, 152, 254);
    height: 50px;
    grid-column: 1 / 2;
    border-radius: 30px; 
    border-style: double;
    border-color: aliceblue; 
}

.Map-grid {
    background-color: rgb(152, 152, 254);
    height: 50px;
    grid-column: 3 / 4;
    border-radius: 30px; 
    border-style: double;
    border-color: aliceblue; 
}

.Reklame-grid {
    background-color:rgb(152, 152, 254);
    height: 300px;
    grid-column: 5 / 6;
    margin-bottom: 20px;
    border-style: double;
    border-color: aliceblue;
}

.Icon-grid {
    grid-area: Icon-grid;
    display: grid;
    grid-template-columns: repeat(6, 150px); 
    grid-gap: 10px;
    justify-items: center;
    margin-top: -15%;
}

.icon {
    background-color: rgb(152, 152, 254);
    height: 60px;
    text-align: center;
    border-radius: 20px; 
    border-style: double;
    border-color: aliceblue;
}

.line2-grid {
    grid-area: line2-grid;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    text-align: center;
    margin-top: 150px;
}

.linetext-grid {
    background-color: rgb(152, 152, 254);
    padding: 10px;
    width: 48%;
    border-radius: 30px; 
    border-style: double;
    border-color: aliceblue; 
}

.Anbefalinger {
    grid-area: Anbefalinger;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 10px;
    text-align: center;
}

.anbefalinger-grid {
    background-color: rgb(152, 152, 254);
    height: 200px;
    border-radius: 30px; 
    border-style: double;
    border-color: aliceblue; 
}
#diablo {
    font-size: 40px;
    font-family: fantasy;
    text-align: center;
    color: rgb(255, 255, 255);
}
span{
    font-size: 22px;
    font-family: fantasy;
    text-align: center;
    color: rgb(255, 255, 255);
}
#searchbar{
    font-size: 22px;
    color: #ffffff;
    font-family: fantasy;
}