.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.item1{
    margin-right: 20px;
}
.item2{
    margin-right: 50px;
}
.items345{
    display: flex;
    gap: 40px; 
    margin-right: 20px;
}
.item6{
    margin-left: 350px;
}
.item7{
    margin-left: auto;
}
.items345 a, .item2 a, .item6 a, .item7 a{
    text-decoration: none;
    color: rgb(0, 0, 0);          
    font-weight: bold;
    font-size: 16px;
    white-space: nowrap;     
}


#Flexbox1, #Flexbox3{
    display: flex;
    border: solid;
    border-width: 5px;
    border-color: black;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 1000px;
    height: 600px;
}
.Flexbox1item1, .Flexbox3item2{
    flex-grow: 1;
    flex-basis: 200px;
    width: 542px;
    height: 304px;
    border-style: groove;
    background-color: rgb(209, 163, 93);
}
.Flexbox1item2, .Flexbox3item1{
    flex-grow: 1;
    flex-basis: 200px;
    width: 542px;
    height: 304px;
    border-style: groove;
    background-color: rgb(209, 148, 58);
}
#Flexbox2{
    display: flex;
    flex-wrap: wrap;
}
.Flexbox2item{
    flex-grow: 1;
    flex-basis: 200;
}
#Flexbox4{
    display: Flex;
    flex-wrap: wrap;
}
#Flexbox4containern1{
    flex-grow:1;
    flex-basis: 200;
}
#Flexbox4containern2{
    flex-grow: 1;
    flex-basis: 200;
}
.Flexbox4container2item1{
    flex-grow: 1;
    flex-basis: 200;
}
#Flexbox5{
    display: flex;
    flex-wrap: wrap;
}
#Flexbox5container1{
    flex-grow: 1;
    flex-basis: 200;
}
#Flexbox5container{
    flex-grow: 1;
    flex-basis: 200;
}
.Flexbox5container2item1{
    flex-grow: 1;
    flex-basis:200;
}
#Allrecipes{
    display: flex;
    flex-wrap: wrap;
}
#Flexbox6{
    display: flex;
    flex-wrap: wrap;
}
.Flexbox6item{
    flex-grow: 1;
    flex-basis:200
}
#Endbar{
    display: flex;
    flex-wrap: wrap;
}
.Endbaritem{
    flex-grow: 1;
    flex-basis: 200;
}