.jockey-one-regular {
    font-family: "Jockey One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
body {
    background-image:linear-gradient(to right, rgb(124, 157, 228)20%, rgb(251, 234, 234)40%,rgb(124, 157, 228)100%);
    margin: 0;
    padding: 45px;
}
#headline {
    display: block;
    background-image: linear-gradient(to right,rgb(224, 234, 241), rgb(141, 203, 255));
    text-align: center;
    height: 60px;
    width: 100%;
    font-size: 48px;
    font-family: Jockey one;
    position: relative;
    color: rgb(20, 19, 16);
    top: 0;
    left: 0;
    line-height: 60px;
    border-radius: 15px;
    margin: 0 auto;
    margin-top: -75px;
}
 #group1-container{
    display: block;
    margin: auto;
    flex-wrap: wrap;
    height: 535px;
    width: 1250px;
    background-image: linear-gradient(to right, rgb(224, 234, 241) ,rgb(141, 203, 255));
    margin-top: 4%;
    border-radius: 30px;
 }
#group2-container{
   display: block;
   margin: auto;
   height: 560px;
   flex-wrap: wrap;
   width: 1250px;
   background-image: linear-gradient(to right, rgb(224, 234, 241) ,rgb(141, 203, 255));
   margin-top: 4%;
   border-radius: 30px;
}
#country-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap:wrap;
    gap: 20px;
}
#country-flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 160px;
    padding: 15px;
    background-color: rgb(240, 240, 240);
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    text-align: center;
    font-size: 30px;
    font-family: Jockey one;
    transition: transform 0.3s ease-in-out;
}
#country-flex img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    Position: relative;
}
#country-flex img:hover {
    transform: scale(3);
    z-index:1;
}
#country-flex p {
    font-size: 12px;
    font-family: "Jockey One", sans-serif;
    text-align: center;
    color: rgb(33, 33, 33);
    margin: 10px,0;
    transition: transform 0.3s ease-in-out;
}
#country-flex p:hover {
    transform: scale(1.1);
}
#country-flex button {
    background-color: rgb(63, 236, 48);
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Jockey One", sans-serif;
    color: white;
    transition: background-color 0.3s ease;
}
#country-flex button:hover {
    background-color: rgb(48, 190, 38);
}
