body{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: antiquewhite;
}
.maincontainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 15px;
    width: 95vw;
    height: 95vh;
    background-color: blue;
}
.box{
    background-color: brown;
    text-align: center;
    width: 200px;
    height: 200px;
    padding: 20px;
    margin: 20px;
    border: 5px solid black;
    display: flex;
    justify-content: center;
    align-self: center;
    color: white;
    font-size: 20px;
}